/*------------------------------------
*   helloudah
*   nothing to see here bro ;)
-------------------------------------*/

/*--------------------------------------------------------
    main style
--------------------------------------------------------*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    background-color: #05294B;
}

header {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    background-color: #6084A7;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 30px 0;
}

h1 {
    margin: 20px 0;
}

button {
	display: block;
	margin:0 auto 10px auto;
	padding: 6px 12px;
	border: 1px solid transparent;
	border-radius: 5px;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.428571429;
    cursor: pointer;
	user-select: none;
}

header .intro{
	border-radius: 25px;
	background: #3333339a;
    border: 5px solid rgb(102, 148, 148);
    padding: 20px; 
	height: 150px;
	width: 500px;
	margin-left: auto;
    margin-right: auto;
    font-weight: 350;
}
p.choose {
    font-weight: 400;
    font-size: 40px;
}

.aux {
    font-size: 30px;
}

li{
    font-size: 20px;
}

ul,ol {
    background-color: rgba(96, 132, 167, 0.384);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*--------------------------------------------------------
    form style
---------------------------------------------------------*/
form {
    padding: 20px;
  }
form p {
    line-height: 32px;
    padding-left: 10px;
  }
  form label, form button {
    background-color: #7F9CCB;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 30px;
    height: auto;
  }
  form label:hover, form button:hover {
    background-color: #2D5BA3;
    color: white;
  }
  form label:active, form button:active {
    background-color: #0D3F8F;
    color: white;
  }
  div.preview img {
    height: 64px;
    order: 1;
    margin: 0px 10%;
    background-color: rgba(240, 248, 255, 0.199);
    padding: 5px;
    border-radius: 5px;
  }

  form div {
      margin-top: 10px;
  }

  div.accessory {
      margin-top: 0px;
  }

  form div > p {
    background: #eee;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    list-style-type: none;
    border: 1px solid black;
    width: 500px;
  }

  /*----------------------------------------------
    table skin style
--------------------------------------------------*/
table {
    margin: auto;
}
td {
    width: 300px;
    max-width: 300px;
    border:1px dashed #ffffff;
    padding: 20px;
    border-radius: 15px;
}

input {
    margin-left: 30px;
}

/*--------------------------------------------------
    special settings
---------------------------------------------------*/
div#zipn {
    padding: 20px 0;
}

div#zipn .aux {
    margin: 0 0 10px 30px;
}

footer p {
    background-color: #6084A7;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

button#reseteo {
    display: initial;
	margin: 0 0 10px 30px;
}